In [115]:
#!pip install psycopg2-binary
#!pip install -U tsfresh
#!pip install alibi-detect

In [2]:
import psycopg2
import psycopg2.extras
import pandas as pd
import numpy as np
import sqlalchemy
import time
from IPython.display import display, clear_output

import alibi_detect
from alibi_detect.od import SpectralResidual

alibi_detect.od.__all__

None of PyTorch, TensorFlow >= 2.0, or Flax have been found. Models won't be available and only tokenizers, configuration and file/data utilities can be used.

['OutlierAEGMM',
 'IForest',
 'Mahalanobis',
 'OutlierAE',
 'OutlierVAE',
 'OutlierVAEGMM',
 'OutlierSeq2Seq',
 'SpectralResidual',
 'LLR',
 'OutlierProphet']

In [125]:
engine = sqlalchemy.create_engine("postgresql://admin:adminadmin@postgresql-timescaledb.default.svc.cluster.local:5432/tsdb")
#last_time = "1970-01-01"
last_time = "2023-06-22 11:20:11.191262"
cols = ['r1', 'r2']

In [ ]:
i = 1

while True:
    clear_output(wait=True)
    display('Iteration: '+str(i))
    
    sql = f"""\
            SELECT time, r1
            from conditions 
            where (timestamp '{last_time}' = timestamp '1970-01-01' and time < now()) or time > '{last_time}'
            order by time asc 
            limit 50
    """
    
    df = pd.read_sql_query(sql, engine)
    #print(df.head(60))
    
    od = SpectralResidual(
        threshold=1.,
        window_amp=20,
        window_local=20,
        padding_amp_method='reflect',
        padding_local_method='reflect',
        padding_amp_side='bilateral',
        n_est_points=10,
        n_grad_points=5
    )
    
    result_r1 = od.predict(
        df.r1.to_numpy(),
        t=None,
        return_instance_score=True
    )
    
    df_scores = df[['time']].copy()
    df_scores['r1_score'] = result_r1['data']['instance_score'].tolist()
    df_scores.to_sql('scores_sr', engine, index=False, if_exists='append')
    print(df_scores.head(60))
    
    # get last timestamp to use for next offset
    last_time = pd.to_datetime(df.time.tail(1).values[0]).strftime('%Y-%m-%d %H:%M:%S.%f %Z')
    print(last_time)
    
    time.sleep(6)
    i += 1

'Iteration: 1109'

                               time  r1_score
0  2023-06-22 16:04:20.621262+00:00  0.510725
1  2023-06-22 16:04:20.930262+00:00 -0.057401
2  2023-06-22 16:04:21.239262+00:00 -0.089040
3  2023-06-22 16:04:21.549262+00:00  0.002189
4  2023-06-22 16:04:21.856262+00:00  0.040674
5  2023-06-22 16:04:22.166262+00:00 -0.034632
6  2023-06-22 16:04:22.474262+00:00 -0.017472
7  2023-06-22 16:04:22.784262+00:00 -0.033772
8  2023-06-22 16:04:23.094262+00:00 -0.023688
9  2023-06-22 16:04:23.403262+00:00 -0.044218
10 2023-06-22 16:04:23.712262+00:00 -0.045568
11 2023-06-22 16:04:24.020262+00:00 -0.026588
12 2023-06-22 16:04:24.329262+00:00 -0.064121
13 2023-06-22 16:04:24.639262+00:00 -0.036730
14 2023-06-22 16:04:24.948262+00:00 -0.015901
15 2023-06-22 16:04:25.257262+00:00  0.069028
16 2023-06-22 16:04:25.566262+00:00 -0.126290
17 2023-06-22 16:04:25.876262+00:00 -0.182521
18 2023-06-22 16:04:26.185262+00:00  0.315078
19 2023-06-22 16:04:26.492262+00:00  0.078403
20 2023-06-22 16:04:26.802262+00:00  0.902605
21 2023-06-22 16:04:27.111262+00:00  2.302247
22 2023-06-22 16:04:27.421262+00:00  2.441461
23 2023-06-22 16:04:27.730262+00:00  1.596003
24 2023-06-22 16:04:28.040262+00:00  1.385534
25 2023-06-22 16:04:28.347262+00:00  1.972959
26 2023-06-22 16:04:28.656262+00:00  0.051679
27 2023-06-22 16:04:28.966262+00:00  0.466480
28 2023-06-22 16:04:29.273262+00:00 -0.014221
29 2023-06-22 16:04:29.583262+00:00  0.961181
30 2023-06-22 16:04:29.891262+00:00 -0.026872
31 2023-06-22 16:04:30.200262+00:00  0.637932
32 2023-06-22 16:04:30.508262+00:00 -0.541746
33 2023-06-22 16:04:30.817262+00:00 -0.359049
34 2023-06-22 16:04:31.125262+00:00 -0.657332
35 2023-06-22 16:04:31.434262+00:00 -0.372744
36 2023-06-22 16:04:31.742262+00:00 -0.760463
37 2023-06-22 16:04:32.052262+00:00 -0.657130
38 2023-06-22 16:04:32.359262+00:00 -0.849781
39 2023-06-22 16:04:32.668262+00:00 -0.882756
40 2023-06-22 16:04:32.978262+00:00 -0.980760
41 2023-06-22 16:04:33.285262+00:00 -0.909574
42 2023-06-22 16:04:33.594262+00:00 -0.880681
43 2023-06-22 16:04:33.902262+00:00 -0.742725
44 2023-06-22 16:04:34.211262+00:00 -0.681814
45 2023-06-22 16:04:34.520262+00:00 -0.567809
46 2023-06-22 16:04:34.830262+00:00 -0.445816
47 2023-06-22 16:04:35.140262+00:00 -0.386722
48 2023-06-22 16:04:35.450262+00:00 -0.308573
49 2023-06-22 16:04:35.759262+00:00  0.044374
2023-06-22 16:04:35.759262

In [21]:
df = pd.read_sql_query("SELECT * from conditions where time < now() order by time desc limit 50", engine)

In [7]:
# can this be omitted?
od.infer_threshold(
    df.r1.to_numpy(),
    t=None,  # array with timesteps, assumes dt=1 between observations if omitted
    threshold_perc=95
)

In [22]:
result_r1 = od.predict(
    df.r1.to_numpy(),
    t=None,  # array with timesteps, assumes dt=1 between observations if omitted
    return_instance_score=True
)

In [23]:
df.r1.to_numpy()

array([ 0.1765,  0.0952,  0.0944,  0.0936,  0.0929,  0.092 ,  0.0909,
        0.0897,  0.0884,  0.0873,  0.0855,  0.0835,  0.0812,  0.0783,
        0.0736,  0.0669,  0.0628,  0.5607,  0.5832,  0.6081,  0.6365,
        0.6677,  0.7033,  0.7438,  0.7913,  0.845 ,  0.9085,  0.984 ,
        1.0722,  1.1807,  1.3104,  1.472 ,  1.6707,  1.9291,  2.2479,
        2.6636,  3.1959,  3.8935,  4.794 ,  5.9545,  7.4062,  9.2636,
       11.4509, 14.1592, 15.3372, 20.8079, 24.0669, 27.1078, 30.9681,
       33.0204])

In [24]:
result_r1['data']['instance_score']

array([ 2.65739507, -0.34132264, -0.35377278, -0.14702112, -0.02763064,
       -0.02311514, -0.07245425, -0.09585097, -0.08241167, -0.04014857,
        0.01169436, -0.05163656, -0.06496791, -0.06736629, -0.06290681,
       -0.06131125, -0.005986  , -0.16051708, -0.10879297, -0.12781318,
       -0.14282832, -0.0376314 , -0.04438288, -0.06428217, -0.06936885,
       -0.0723485 , -0.06798622, -0.08418938, -0.08657019, -0.09886848,
       -0.10193354, -0.11662409, -0.13280527, -0.17489287, -0.19151679,
       -0.24399252, -0.30817622, -0.39881548, -0.52365989, -0.71202855,
       -0.91692969, -0.75601155, -0.36175668,  0.48980536, -0.07693907,
        1.88206508,  1.93649327,  2.00098259,  2.62204498,  2.93922257])

In [25]:
# TODOs
# -----
# *DONE* - the SELECT should get all rows since the last call: i.e. the last ts has to cached and used as a baseline for the next call. Initially set to zero, NaN etc.
# *DONE* - this means we have no overlap and the outlier scores will not be persisted multiple times. alternatively we could average over the whole window.
# *DONE* - combine result_r1['data']#['instance_score'] with the original data frame's timestamp and write out to a new table. We can combine models in the same table.
# - move scores_sr table into the demo yaml to avoid the permissions issue
# - remove timescaledb script
# - replace the unused notebook with the one from this demo
# - update dashboard yaml in the branch

# - for each batch, run multiple models - one per univariate reading - and combine them into a single data frame and persist this.
# - try out some sort of multivariate-score averaging for an overall measurement
# - add in an initial "training" window for setting the threshold (needed?)
# - add this script to a spark-streaming job (only when things are really finished)

In [26]:
df_scores = df[['time']].copy()

In [27]:
df_scores['r1_score'] = result_r1['data']['instance_score'].tolist()

In [28]:
df_scores.head()

                              time  r1_score
0 2023-06-22 08:37:25.591262+00:00  2.657395
1 2023-06-22 08:37:25.281262+00:00 -0.341323
2 2023-06-22 08:37:24.972262+00:00 -0.353773
3 2023-06-22 08:37:24.663262+00:00 -0.147021
4 2023-06-22 08:37:24.354262+00:00 -0.027631

In [118]:
cols = ['r1', 'r2', 'r3', 'r4', 'r5', 'r6', 'r7', 'r8', 'r9', 'r10', 'r11', 'r12', 'r13', 'r14']
', '.join(cols)

'r1, r2'